html
    head
        title Wyszukiwarka
    body
        style
            include ./style.css
        div#root
            script
                include wyszukiwarkaSwitcher.js
            a(href='/') Ekran startowy
            form(action = "/wyszukiwarka", method = "GET")
                div
                    select(name="which", onchange="switchOptions(this)" id="which")
                        option(value="osoby") Osoby
                        option(value="wydzialy") Wydzialy
                        option(value="kierunki") Kierunki
                        option(value="przedmioty") Przedmioty
                    - let h0=!true
                    - let h1=true
                    - let h2=true
                    - let h3=true
                    if (which === "osoby")

                        script.
                            document.getElementById("which").selectedIndex = "0"
                    if (which === "wydzialy")
                        - let h0=true
                        -  h1=!true
                        script.
                            document.getElementById("which").selectedIndex="1"
                    if (which === "kierunki")
                        - let h0=true
                        -  h2=!true
                        script.
                            document.getElementById("which").selectedIndex = "2";
                    if (which === "przedmioty")
                        - let h0=true
                        -  h3=!true
                        script.
                            document.getElementById("which").selectedIndex = "3";
                    div#osoby(hidden=h0)
                        label Imie:
                        input(name = "Oimie" value = "")
                        br
                        label Nazwisko:
                        input(name = "Onazwisko" value = "")
                        br
                        label PESEL:
                        input(name = "Opesel" value = "")
                    div#wydzialy(hidden=h1)
                        label Nazwa:
                        input(name = "Wnazwa" value = "")
                    div#kierunki(hidden=h2)
                        label Nazwa:
                        input(name = "Knazwa" value = "")
                    div#przedmioty(hidden=h3)
                        label Nazwa:
                        input(name = "Pnazwa" value = "")
                    input(name = "wyszukaj" value = "1" hidden)
                br
                button(type = "submit") Szukaj
            if(osoby && osoby.metaData && osoby.rows)
                h4 Osoby:
                    table(border='2')
                        tr
                            th Numer Albumu
                            th Imie
                            th Nazwisko
                            th PESEL
                            th Rola
                        each row in osoby.rows
                            tr
                                td
                                    p #{row[0]}
                                td
                                    p #{row[1]}
                                td
                                    p #{row[2]}
                                td
                                    p #{row[3]}
                                td
                                    p #{row[5]}
                                td
                                    if(row[5]==="Teacher")
                                        a(href='/pracownik?pracownik=' + row[0]) Przejdź
                                    else
                                        a(href='/student?student=' + row[0]) Przejdź
            if(wydzialy && wydzialy.metaData && wydzialy.rows)
                h4 Wydzialy:
                    table(border='2')
                        tr
                            th Nazwa
                            th Skrót
                        each row in wydzialy.rows
                            tr
                                td
                                    p #{row[1]}
                                td
                                    p #{row[2]}
                                td
                                    a(href='/wydzial?wydzial=' + row[0]) Przejdź
            if(kierunki && kierunki.metaData && kierunki.rows)
                h4 Kierunki:
                    table(border='2')
                        tr
                            th Nazwa
                        each row in kierunki.rows
                            tr
                                td
                                    p #{row[1]}
                                td
                                    a(href='/kierunek?kierunek=' + row[0]) Przejdź
            if(przedmioty && przedmioty.metaData && przedmioty.rows)
                h4 Przedmioty:
                    table(border='2')
                        tr
                            th Nazwa
                            th ECTS
                        each row in przedmioty.rows
                            tr
                                td
                                    p #{row[1]}
                                td
                                    p #{row[3]}
                                td
                                    a(href='/przedmdiot?przedmdiot=' + row[0]) Przejdź