html
    head
        title Wyszukiwarka
    body
        style
            include ./style.css
        div#root
            script
                include wyszukiwarkaSwitcher.js
            a(href='/') Ekran startowy
            form(action = "/wyszukiwarka", method = "GET")
                div
                    select(name="which", onchange="switchOptions(this)")
                        option(value="osoby") osoby
                        option(value="wydzialy") wydzialy
                        option(value="kierunki") kierunki
                        option(value="przedmioty") przedmioty
                    div#osoby
                        input(name = "Oimie" value = "")
                        input(name = "Onazwisko" value = "")
                    div#wydzialy
                        input(name = "Wnazwa" value = "")
                    div#kierunki
                        input(name = "Knazwa" value = "")
                    div#przedmioty
                        input(name = "Pnazwa" value = "")
                    input(name = "wyszukaj" value = "1" hidden)
                br
                button(type = "submit") Szukaj
            if(osoby && osoby.metaData && osoby.rows)
                h4 Osoby:
                    table(border='2')
                        tr
                            th Numer Albumu
                            th Imie
                            th Nazwisko
                            th PESEL
                            th Rola
                        each row in osoby.rows
                            tr
                                td
                                    p #{row[0]}
                                td
                                    p #{row[1]}
                                td
                                    p #{row[2]}
                                td
                                    p #{row[3]}
                                td
                                    p #{row[5]}
            if(wydzialy && wydzialy.metaData && wydzialy.rows)
                h4 Wydzialy:
                    table(border='2')
                        tr
                            th Nazwa
                            th Skrót
                        each row in wydzialy.rows
                            tr
                                td
                                    p #{row[1]}
                                td
                                    p #{row[2]}
            if(kierunki && kierunki.metaData && kierunki.rows)
                h4 Kierunki:
                    table(border='2')
                        tr
                            th Nazwa
                        each row in kierunki.rows
                            tr
                                td
                                    p #{row[1]}
            if(przedmioty && przedmioty.metaData && przedmioty.rows)
                h4 Przedmioty:
                    table(border='2')
                        tr
                            th Nazwa
                            th ECTS
                        each row in przedmioty.rows
                            tr
                                td
                                    p #{row[1]}
                                td
                                    p #{row[3]}